<%= form_for @policy do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
 
  <div class="text_edit_area">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div> 
    <%= f.submit %>
<% end %>
