<%= form_for :course, url: course_path(@course), method: :patch do |f| %>

  <%= collection_select(:course, 
  :policy_id, 
  Policy.where("is_public = ? OR creator = ? OR creator_course = ? OR creator_course_id = ?", 
                              true, session[:user_id], session[:context_label], session[:context_id]), 
  :id, 
  :title, 
  prompt: true ) %>

  <%= f.submit "Update Policy" %>
  <P>

<% if @selected_policy %>
  <%= link_to("Edit Policy", edit_policy_path(@selected_policy), :id => "edit_policy_link") %> <br>
<% end %>

<%= link_to "Create New Policy", new_policy_path %>
<P>
<% end %>
<P>
<div id="policy_body_div" class="policy_body">
<% if @selected_policy %>
<%= raw @selected_policy.text %> <br>
<% end %>
</div>
