Academic integrity policy for <%= @course.context_label %> (<%= @course.context_title %>)
<P>
<% if @policy %>
    <div class="title"><%= @policy.title %></div>
    <div class="policy_body"><%=raw @policy.text %></div>
<% else %>
    <div class="policy_body">No policy selected</div>
<% end %>
<P>
<% if @instructor %>
  <%= link_to 'Change Policy', edit_course_path(@course) %>
  <%= form_for :course_policy, url: "#{course_path(@course)}/return_to_lms" do |f| %>
    <%= f.submit 'Save Changes' %>
  <% end %>
<% end %>

